* {
	font-family: "Inter Nerd Font Propo";
	font-size: 18px;
	color: #ffffff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#waybar {
	background: rgba(26, 26, 26, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

window#waybar.empty #window {
	background-color: transparent;
}

#workspaces label {
	font-size: 13px;
}

#workspaces button.active label {
	color: #bface2;
}

#workspaces button:hover {
	background: rgba(191, 172, 226, 0.1);
	border: none;
	box-shadow: none;
	text-shadow: none;
	transition: none;
}

#tray, #clock, #pulseaudio.input #pulseaudio.output, #custom-exit, #power-profiles-daemon {
	padding: 0 0.5rem;
}

#pulseaudio.input {
	margin-right: 15px;
	margin-left: 15px;
}

#pulseaudio.input.source-muted, #pulseaudio.output.muted {
	color: #ed8796;
}

#tray {
	margin-right: 0.5rem;
}

#custom-exit {
	margin-right: 5px;
	color: #bface2;
	font-size: 20px;
}

#custom-launcher {
	margin: 0 5px 0 10px;
	color: #fff;
}

#custom-launcher:hover {
	color: #bface2;
}

#tray menu {
	background-color: rgba(0, 0, 0, 0.8);
}

#tray menu menuitem:hover {
	background-color: #bface2;
	border: none;
}

tooltip {
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 1.0;
	border-color: #bface2;
}

tooltip label {
	color: #fff;
}

#power-profiles-daemon {
	padding-right: 1rem;
}

#power-profiles-daemon.performance {
	color: #f7768e;
}

#power-profiles-daemon.balanced {
	color: white;
}

#power-profiles-daemon.power-saver {
	color: #9ece6a;
}
